/* Add CSS Styling */
.odd{
    background-color: rgb(253, 159, 175);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second{
    color: blue;
    font-size: 36px;
}

.odd.third{
    font-size: 24px;
}

#fourth{
    background-color: rgb(121, 212, 121);
    font-size: 24px;
    font-weight: bold;
}