/* Add CSS Styling */
.first-btn,
.second-btn{
    font-size: 18px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.first-btn{
    background-color: black;
    color: white;
}

.second-btn{
    background-color: yellow;
}